body {
font-family: 'Shadows Into Light', cursive;
	color: #000;
	font-weight: 300;
}

hr {
    border: none;
    height: 3px;
    background-color: #FF715B;
}

h2,
h3,
h4 {
	font-weight: 800;
}

.title-super-full {
	font-size: 60px;
}
.title-super-short {
	font-size: 60px;
}

.title-logo {
	width: 110px;
	margin-top: 20px;
}

.text-muted {
	color: #FF715B;
}

.text-thin {
	font-weight: 100;
}

.project-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.project {
	width: 33%;
	padding: 10px;
}

@media screen and (max-width: 700px) {
	.project {
		width: 50%;
		padding: 10px;
	}

	.title-logo {
		display: none;
	}
}


@media screen and (min-width: 451px) {
	.title-super-full {
		display: inline-block;
	}
	.title-super-short {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	.project {
		width: 100%;
		padding: 10px;
	}
	.title-super-full {
		display: none;
	}
	.title-super-short {
		display: inline-block;
	}
}